.mainBlock {
  border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  margin: 100px auto;
  display: table;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.underLine {
  text-align: center;
  margin: 7px 0 0 0;
  display: block;
}

.linkBtn {
  background-color: unset;
  border: 0;
  text-decoration: underline;
  color: #3c4043;
  padding: 0;
  margin: 0;
}

.error {
  padding: 10px;
  background-color: #feeaea;
  border: 1px soild #fadadb;
  margin-bottom: 10px;
  border-radius: 3px;
}
